@import 'palette';

header{
    background-image: url(../shoeKloset/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h2{
    text-align:center;
    background-color: $mauve;
    margin-bottom: 0;
}

@media screen and (max-width:560px){
    .contactHead {
        height:auto;
    }

    .contactHead h2{
        margin:0 auto;
    }

}