@import 'palette';

main{
    padding:10px;
}

author, time{
    font-weight: bold;
}

.blogHeader {
    background-image: url(..//shoeKloset/blogHeader.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogHeader h2{
    background:none;
    text-transform: uppercase;
}

.boxHeader{
    width: 100%;
    position:absolute;
    top: -190px;
    right:-10px;
    box-shadow: -26px 20px 0 0 $orange;
}

/* Side Bar */
.sideBar{
    float:left;
    width:40%;
    position:relative;
}

.sideBarWeather{
background-color: $white;
width: 70%;
margin: 50px auto;
padding: 10px 40px;
}

.sideBarWeather h6{
    margin:30px 0 10px;
    color: $purple;
}

.sideBarWeather p{
    padding:0 0 20px;
}

.sideBarWeather ul{
    padding-left: 16px;
}

.sideBarWeather ul li{
    letter-spacing: 1.3px;
    line-height: 1.5;
}
/* 
.sideBarImg{
    position: absolute;
    top:30px;
    left: 10px;
}
*/

/* Blog Post */
.blogPost{
    float:left;
    width: 60%;
    position:relative;
    background-color: $white;
    padding: 22% 3% 5%;
}

.blogPost h5{
    text-transform: uppercase;
    margin-bottom: 5px;
    color:$purple;
}

/* Comments */
.comments{
    width:100%;
    display:float;
    float:left;
}

.comments h4{
    text-transform: uppercase;
    color:$purple;
    margin: 2%;
}

.comments img{
    width:5%;
    height:auto;
    float:left;
}

