@import 'palette';

.blogHeader {
    background-image: url(..//shoeKloset/blogHeader.jpg);
    width: 100%;
    height: 70vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogHeader h2{
    background:none;
    text-transform: uppercase;
}

.sideBar{
    float:left;
    width:25%;
    position:relative;
}

.sideBarWeather{
background-color: $white;
width: 70%;
margin: 50px auto;
padding: 10px;
position: relative;
}

.sideBarWeather h6{
    margin:30px 0 10px;
    color: $purple;
}

.sideBarWeather p{
    padding:0 0 20px;
}

.sideBarWeather ul{
    padding-left: 16px;
}

.sideBarWeather ul li{
    letter-spacing: 1.3px;
    line-height: 1.5;
}


.sideBarImg{
    position: absolute;
    top:30px;
    left: 10px;
}

.blogPost{
    /* position:relative; */
    float:left;
    width: 75%;
}
/*
.boxHeader{
    position:absolute;
    top: 275px;
    right:0;
    width: 45%;
    box-shadow: -26px 20px 0 0 $orange;
}
*/