@import 'palette';

.blogHeader {
    background-image: url(..//shoeKloset/blogHeader.jpg);
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.blogHeader h2{
    background:none;
    text-transform: uppercase;
}