@import 'palette';

//home

.aboutHome{
    padding-bottom:4%;
}

.findMore {
    padding:3px;
    display: inline-block;
    width:100%;
    text-align: center;

}

.findMore:hover{
    background-color: $purple;
    color:white;
}

.findMoreOut{

}

// contact
button{
    appearance: none;
    padding: 10px;
    background-color: $brown;
    text-transform: uppercase;
    color:$white;
    border: none;
    padding: 2% 4%;
    width:100%;
}

//blog 

.buttonBlog{
    background-color: $purple;
}


