@import 'palette';

.contactHead{
    background-image: url(../shoeKloset/contactImage.jpg);
    width: 100%;
    height: 80vh;
    background-size:cover;
    background-repeat: no-repeat;
}

.contactHead{
    h2{
        background:none;
        text-transform: uppercase;
        color:$purple;
    }
}

main{
    background-color: $mauve;
}

.form{
    position:relative;
    box-shadow: 10px 30px $orange;
}

.flexContainer {
    height: 100px;
    position: absolute;
    bottom:90px;
    right:75px;
}

.flexItem {
    width: 600px;
    height: auto;
    text-align: center;
    color: #000;
    margin: 2px;
    padding: 3%;
    background: $white;
    box-shadow: -26px 20px 0px 0px $orange;
}

input[type=text]{
    border:none;
    border-bottom: 2px solid $orange;
    width:49%;
    padding:1%;
    margin: 20px 0;
}

input[type=email]{
    border:none;
    border-bottom: 2px solid $orange;
    width:49%;
    padding: 1%;
    margin: 20px 0;
}

textarea{
    border: 3px solid $orange;
    padding: 1%;
    margin: 20px 0;
    width:100%; 
    height:200px;
    resize: none;
}

button{
    appearance: none;
    padding: 10px;
    background-color: $brown;
    text-transform: uppercase;
    color:$white;
    border: none;
    padding: 2% 4%;
    width:100%;
}

.socialInfo{
    background-color: $mauve;
    padding: 30px;
    margin-left:50px;
}

.icons ul{
    padding: 0;
}

.icons ul li{
    list-style: none;
    display:inline-block;
    padding: 10px 20px 10px 0
}

.icons ul li i{
    color:$purple;
}

.contactInfo a{
    padding: 0;
    color: $purple;
    font-family: $font1;
    font-size:20px;
    text-align: center;
    line-height: 32px;
    letter-spacing: 1px;
    font-style: normal;
}

.contactInfo p{
    font-family: $font1;
    letter-spacing: 1px;
    line-height: 20px;
    font-style: normal;
}


/* Come back to this one 
@media screen and (max-width:980px){
    .form{
        display:block;
    }
}
*/ 

@media screen and (max-width:560px){
    .contactHead {
        height:auto;
    }

    .contactHead h2{
        margin:0 auto;
    }

}

