@import'palette';

.container{
    position:relative;
}

.homeBackground{
    background-image: url(../shoeKloset/headerImage.jpg);
    width: 100%;
    height: 100vh;
    background-size:cover;
    background-repeat: no-repeat;
    background-color: $mauve;
}

h1{
    color:$purple;
    width:40%;
}

.shoeBox{
    position: absolute;
    width:40%;
    top:80%;
    right: -6%;
}
