nav{
    font-family: 'Lato',sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 29px;
    letter-spacing: 1px;
    text-align: center;
    margin:0;
    padding:10px 15px;
    display:flex;
}

.logo {
    position:absolute;
    top:2%;
    left:5%;
    font-family: 'Pompiere';
    font-size: 35.8px;
    line-height: 36px;
    letter-spacing: 1.1px;
    text-align:start;
    width: 10%;
}

nav ul{
    margin-top:5px;
    display:flex;
    flex-direction: row;
    align-items: stretch;
    height: auto;
    list-style: none;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
}

nav ul li{
    height: auto;
    justify-content: space-evenly;
    padding: 10px;
}

nav ul li a{
    padding: 2px;
    text-transform: uppercase;
    color:black;
}

nav ul li a:hover{
    background-color: $purple;
    color:white;
}

@media screen and (max-width: 600px){
    a{
        font-size: 15px;
    }
}

@media screen and (max-width:480px){
    a{
        display:none;
    }
}